<div class="p-3">
    <table class="table table-dark table-borderless">
        <thead>
          <tr>  
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">DNI</th>
            <th scope="col">Mail</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
                <tr *ngFor="let admin of admins">
                    <td>{{admin.nombre}}</td>
                    <td>{{admin.apellido}}</td>
                    <td>{{admin.edad}}</td>
                    <td>{{admin.dni}}</td>
                    <td>{{admin.mail}}</td>
                    <td>
                        <img src={{admin.imagen}} width="100px" height="100px" style="margin-right: 10px;"/>
                    </td>
                </tr> 
        </tbody>
      </table>
</div>    

