<app-navbar></app-navbar>
<div class=" d-flex w-100 p-3 mx-auto flex-column text-center pag">
    <main role="main" class="inner cover blur ps-3 pe-3 pb-2 pt-5 pb-5" style="margin-top: 100px; width: 75%; margin-left: auto; margin-right: auto;">
      <h1 class="cover-heading">Bienvenido a la Clínica del Dr. Bustos Gil</h1>
      <p class="lead pt-4">Como verá en la parte superior se encuentra una barra en la que estarán los diferentes accesos a las areas de esta clínica. 
          No se olvide de pasar por recepción antes de seguir. 
          Muchas gracias y esperamos que tenga buen dia o buena tarde.</p>
    </main>
</div>

